.App {
  margin: 5px;
  background-color: #0D1321;
}

a:Link {
  text-decoration: none;
}

li {
  list-style: none;
  color: #FDF9E6;
}

ul {
  padding-left: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #3A4D5F;
  color: #FDF9E6;
  padding-top: 10px;
  font-size: 14px;
  
}

Image {
  max-width: 100%;
  height: auto;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.Experience_content {
  font-size: 15px;
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #FDF9E6;
  text-align: center;
}

p {
  font-size: 14px;
  text-align: justify;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  color: #FDF9E6;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #FDF9E6;
  text-align: center;
}

h3 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #FDF9E6;
}

h4 {
  text-align: center;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: #FDF9E6;
}

col {
  float: left;
  width: 33.33%;
  padding: 5px;
}


