.App {
  text-align: center;
  margin: 30px;
  background-color: white;
}

a:Link {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(63, 63, 63);
  color: white;
  padding-top: 10px;
  
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

p {
  font-size: 14px;
  text-align: justify;
  line-height: 18px;
}

h3 {
  text-align: left;
  font-weight: 800;
}

col {
  float: left;
  width: 33.33%;
  padding: 5px;
}


