body {
  margin: 0;
  background-image: linear-gradient(to top, #D1898C 0%, #E9BCBD 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  color: #FDF9E6;
  text-align: center;
  font-size: 10px;
  background-color: #322c3d;
  padding: 40px;
}