body {
  margin: 0;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  color: white;
  text-align: center;
  font-size: 9px;
}