body {
  margin: 0;
  background-color: #0D1321;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  color: white;
  text-align: center;
  font-size: 10px;
  background-color: #3A4D5F;
  padding: 40px;
}